@{
    ViewData["Title"] = "Staff";
}
<h2>@ViewData["Title"]</h2>

<body>
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Second Name</td>
            <td>Position</td>
            <td>Create</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </table>
</body>