@model TrainingTask.Models.TaskViewModel

@{
    ViewData["Title"] = "CreateTaskIntoProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateTaskIntoProject</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTaskIntoProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskTime" class="control-label"></label>
                <input asp-for="TaskTime" class="form-control" />
                <span asp-validation-for="TaskTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfStart" class="control-label"></label>
                <input asp-for="DateOfStart" class="form-control" />
                <span asp-validation-for="DateOfStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfEnd" class="control-label"></label>
                <input asp-for="DateOfEnd" class="form-control" />
                <span asp-validation-for="DateOfEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeStatus" class="control-label"></label>
                <input asp-for="TypeStatus" class="form-control" />
                <span asp-validation-for="TypeStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

