@{
    ViewData["Title"] = "Task";
}
<h2>@ViewData["Title"]</h2>

<body>
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Task Time</td>
            <td>Date of start</td>
            <td>Date of end</td>
            <td>Status</td>
            <td>Create</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </table>
</body>